@import "styles/root/index.scss";

.navbar {
	@include flex;
	justify-content: space-between;
	user-select: none;
	margin: 10px auto;
	padding: 0 20px;
	max-width: 1400px;

	.links {
		@include flex;
		justify-content: flex-end;
		flex: 1;
		height: 100%;
		header {
			cursor: pointer;
		}
		section {
			@include flex;
			margin-left: 20px;
		}
	}
}
