@import "styles/root/index.scss";

.search {
	padding: 0 40px;
	@include flex;
	flex-direction: column;
	max-width: 1000px;
	margin: 0 auto;

	.recent-os-list-title {
		cursor: default;
		text-align: left;
		width: 100%;
		color: $dark-grey;
		p {
			font-weight: bold;
		}
	}
}
