@import "styles/root/index.scss";

.compose {
	@include flex;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	.compose-title {
		width: 100%;
		text-align: center;
		padding-bottom: 40px;
		border-bottom: 2px solid $plight;
	}
	table {
		@include flex;
		flex-direction: column;
		width: 100%;
		max-width: 600px;

		tbody {
			flex: 1;
			tr {
				@include flex;
				align-items: flex-start;
				td {
					flex: 1;
					padding: 10px 0;

					.row-label {
						width: 100%;
						min-width: 120px;
						max-width: 120px;
						padding-right: 40px;
						margin: 0;
						margin-left: -120px;
					}
					input,
					select,
					textarea,
					.upload-btn,
					.submit-btn {
						user-select: none;
						max-width: 400px;
						min-width: 400px;
					}
					.radio-cont {
						@include flex;
						justify-content: space-between;
						.radio-item {
							@include flex;
							flex-direction: column;
							label {
								cursor: pointer;
								user-select: none;
								text-align: center;
								width: 100%;
							}
							input {
								margin: 0;
								cursor: pointer;
								min-width: 200px;
								max-width: 200px;
								height: unset;
							}
						}
					}
					.upload-btn {
						padding: 0;
						label {
							cursor: pointer;
							width: 100%;
							padding-top: 5px;
							height: 100%;
						}
					}
					.preview-map {
						display: flex;
						overflow-x: scroll;
						min-width: 400px;
						max-width: 400px;
						min-height: 400px;
						.preview-cont {
							@include flex;
							justify-content: space-between;
							flex-direction: column;
							width: 100%;
							margin-right: 25px;
							min-width: 300px;
							min-height: 400px;
							.img-cont {
								.preview-img {
									width: 100%;
									min-height: 100%;
									&:not(:last-child) {
										padding-bottom: 20px;
										margin-bottom: 20px;
										border-bottom: 2px solid $light-grey;
									}
								}
							}
							.preview-foot {
								flex: 1;
								align-self: flex-end;
								@include flex;
								justify-content: space-between;
								width: 100%;
								max-height: 50px;
							}
						}
					}
					.submit-btn {
						margin-top: 20px;
					}
				}
			}
		}
	}
}
