@import "styles/root/index.scss";

.oversite-create {
	@include flex;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	table {
		@include flex;
		flex-direction: column;
		width: 100%;
		max-width: 600px;

		tbody {
			flex: 1;
			tr {
				@include flex;
				align-items: flex-start;
				td {
					flex: 1;
					padding: 10px 0;

					.row-label {
						width: 100%;
						min-width: 120px;
						max-width: 120px;
						padding-right: 40px;
						margin: 0;
						margin-left: -120px;
					}
					input,
					select,
					textarea,
					.upload-btn,
					.sight-previews,
					.submit-btn {
						user-select: none;
						min-width: 400px;
						max-width: 400px;
					}
					.radio-cont {
						@include flex;
						justify-content: space-between;
						.radio-item {
							@include flex;
							flex-direction: column;
							label {
								cursor: pointer;
								user-select: none;
								text-align: center;
								width: 100%;
							}
							input {
								margin: 0;
								cursor: pointer;
								min-width: 200px;
								max-width: 200px;
								height: unset;
							}
						}
					}
					.upload-btn {
						padding: 0;
						label {
							cursor: pointer;
							width: 100%;
							padding-top: 5px;
							height: 100%;
						}
					}
					.sight-previews {
						display: flex;
						overflow-x: scroll;
						min-height: 400px;
						.preview-cont {
							@include flex;
							justify-content: space-between;
							flex-direction: column;
							width: 100%;
							padding: 10px;
							max-width: 350px;
							min-width: 350px;
							min-height: 400px;
							max-height: 400px;
							margin: 25px;
							margin-top: 10px;
							border-radius: 10px;
							box-shadow: $shadow-light;

							.img-cont {
								@include flex;
								overflow: hidden;
								width: 100%;
								.preview-img {
									max-width: 100%;
									height: 100%;
									&:not(:last-child) {
										padding-bottom: 20px;
										border-bottom: 2px solid $light-grey;
									}
								}
							}
							.info-cont {
								flex: 1;
								@include flex;
								flex-direction: column;
								justify-content: flex-end;
								width: 100%;
								height: 110px;
								max-height: 110px;
								margin-top: 10px;
								padding-top: 10px;
								border-top: 2px solid $primary;

								.info-head {
									* {
										margin: 0;
									}
									@include flex;
									justify-content: space-between;
									width: 100%;
								}
								.info-body {
									width: 100%;
									p {
										margin: 0;
										margin-bottom: 5px;
										overflow: hidden;
										max-width: 300px;
										white-space: nowrap;
										text-overflow: ellipsis;
									}
								}
								.info-label {
									font-weight: bold;
								}
							}
						}
					}
					.submit-btn {
						margin-top: 20px;
					}
				}
			}
		}
	}
}
