@import "styles/root/index.scss";

.credentials {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.auth-nav {
	@include flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px 20px;
	.go-back,
	.attract,
	section > span {
		cursor: default;
	}
	.attract {
		font-weight: 600;
		cursor: pointer;
		padding: 10px 15px;
		margin-left: 20px;
		border: 2px solid $primary;
		border-radius: 7px;
	}
	.go-back {
		font-weight: 600;
		cursor: pointer;
		margin: 20px 10px 20px 0;
	}
}
