@import "styles/root/index.scss";

.auth-nav {
	padding-top: 10px;
	section > span {
		cursor: default;
	}
	.attract {
		font-weight: 600;
		cursor: pointer;
		padding: 10px 15px;
		margin-left: 20px;
		border: 2px solid $primary;
		border-radius: 7px;
	}
	header {
		.go-back {
			cursor: pointer;
			font-weight: 600;
			margin: 20px 10px 20px 0;
		}
	}
}
