@import "styles/root/index.scss";

.auth-form {
	@include flex;
	flex-direction: column;
	height: calc(100vh - 60px);
	width: 100%;
	.form-title {
		text-transform: capitalize;
	}
	.image-cont {
		user-select: none;
		@include flex;
		padding: 100px 0;
		.logo-anim {
			animation: shrink 1s linear;
		}
		.logo-hide {
			opacity: 0;
		}
		.logo {
			width: 100%;
			max-width: 175px;
		}
	}
	.form-cont {
		flex: 1;
		@include flex;
		justify-content: flex-start;
		flex-direction: column;
		max-width: 350px;
		min-width: 350px;
		padding: 20px;
		.fields {
			width: 100%;
			.username,
			.password {
				@include flex;
				flex-direction: column;
				align-items: flex-start;
			}
			.username {
				border-top: 2px solid $plight;
			}
			.password {
				border-top: 2px solid $plight;
				.pass-field {
					position: relative;
					@include flex;
					width: 100%;
					#passwordToggle {
						font-size: 1rem;
						cursor: pointer;
						user-select: none;
						position: absolute;
						right: 5px;
						top: 2px;
						margin: 0;
						padding: 0 2px;
					}
				}
			}
			input {
				width: 100%;
				margin-bottom: 20px;
				border: none;
			}
			button {
				width: 100%;
			}
		}
	}
}

@keyframes shrink {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(1.05);
	}
	10% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0);
	}
}
