@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --app-background: #fff;
  --app-text: #000;
}
$app-background: var(--app-background);
$app-text: var(--app-text);

$max-width: 900px;

$primary: #e9233f;
$plight: #fd6d81;
$pdark: #bd172d;
$off-white: rgb(235, 235, 235);
$light-grey: rgb(200, 200, 200);
$dark-grey: rgb(100, 100, 100);
$off-black: rgb(17, 17, 17);

@import "./breakpoints.scss";

$breakpoints: (
  "550": 550px,
  "800": 800px,
  "1080": 1080px,
) !default;

@media (max-width: 500px) {
  input {
    font-size: 16px;
  }
}

.temp {
  @include flex;
  margin-top: 200px;
  img {
    max-width: 250px;
  }
}
