@import "index.scss";

.landing {
	@include flex;
	flex-direction: column;
	width: 100%;
	.head-cont,
	.body-cont {
		@include flex;
		justify-content: space-evenly;
		width: 100%;
		max-width: 1600px;
		padding: 0 40px;
		.lure {
			width: 100%;
			min-width: 300px;
			max-width: 500px;
		}
		@include media("<=800") {
			flex-direction: column;
			margin: 100px 0;
		}
	}

	.head-cont {
		height: calc(100vh - 60px);
		.hook {
			max-width: 400px;
			margin-right: 0 50px;
		}
		@include media("<=800") {
			justify-content: space-evenly;
			height: unset;
			.hook {
				max-width: 75%;
				padding: 100px 0;
			}
		}
	}

	.body-cont {
		align-items: stretch;
		justify-content: center;
		h1 {
			width: 100%;
			margin: 0 0 50px 0;
		}
		.hook {
			margin-left: 0 100px;
		}
		.list {
			@include flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin: 0;
			margin-left: 100px;
			padding-left: 100px;
			border-left: 2px solid $primary;
			li {
				@include flex;
				flex: 1;
				cursor: default;
				list-style: none;
				font-weight: 600;
				font-size: 1.2em;
			}
		}
		@include media("<=800") {
			align-items: center;
			h1 {
				flex: 1;
			}
			.hook {
				margin: unset;
				margin-bottom: 100px;
			}
			.list {
				display: none;
				margin: 0 20px;
				padding: 0 20px;
				border: none;
				li {
					all: usnet;
					font-weight: 500;
					padding-bottom: 10px;
				}
			}
		}
	}
}
